
@{
    ViewBag.Title = "Index";
}
<link href="~/Content/jcrop.dev.css" rel="stylesheet" />
<h2>CropImage</h2>



@section scripts{
    <script src="~/Scripts/jcrop.dev.js"></script>
    <script src="~/Assets/app/CropImageController.js"></script>
}

