
@{
    ViewBag.Title = "Index";
}
<link href="~/Content/jcrop.dev.css" rel="stylesheet" />
<style type="text/css">
    .classEmail {
        background-color: black;
    }
</style>
<h2>CropImage</h2>
<img src="https://hoidulich.net/wp-content/uploads/2019/11/71118571_400051820571391_381023500722296458_n-1067x800.jpg" id="target">


@section scripts{
    <script src="~/Scripts/jcrop.dev.js"></script>
    <script src="~/Assets/app/CropImageController.js"></script>
}

